/*--------------------
|       General       |
 --------------------*/
* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

h1{
    text-align: center;
}

/*--------------------
|        Buttons      |
 --------------------*/
button{
    background-color: #fff;
    width: 5em;
    border: 1px solid #000;
    border-radius: 10px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
}

button:hover{
    background-color: #ccc;
}

button:active{
    background-color: #8f8;
    transform: translateY(2px);
}


/*--------------------
|      Game Board     |
 --------------------*/
#game-area {
    min-width: fit-content;
    max-width: 20%;
    margin: auto;
    justify-content: center;
    position: relative;
    border: 1rem ridge #ccc;
    border-radius: 20px;
    background-color: #000;
}

#stats {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    width: 60%;
    height: 16.5%;
    background-color: #fff;
    text-align: center;
}
    
#grid-container {
    margin: auto;
    display: grid;
    grid-template-columns: repeat(10, minmax(30px, 1fr));
    gap: 1px;
    justify-content: center;
}

.square {
    /* border: 1px solid #000; */
    background-color: #444;
    aspect-ratio: 1/1;
}

.mini-grid {
    background-color: rgb(161, 158, 158);
}

.tetromino {
    border: 1.5px solid #fff;
    border-radius: 10%;
}

.taken {
    opacity: 0.85;
}

/*--------------------
|      Modal window   |
 --------------------*/

/*modal content for booking a place on events.html page - [codepen](https://codepen.io/timothylong/pen/HhAer) -- start*/
.modal-window {
    display: none;
    position: fixed;
    width: 100%;
    background-color: rgba(60, 60, 60, 0.5);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
    pointer-events: auto;
    transition: all 0.3s;
  }
  
  .modal-window h1,
  .modal-window h2 {
    font-size: 1.5rem;
    color: #fffafa;
    margin: 0 0 15px;
    text-align: center;
  }
  
  .modal-close {
    color: #aaa;
    line-height: 20px;
    font-size: 1rem;
    position: absolute;
    right: 20px;
    text-align: center;
    top: 20px;
    text-decoration: none;
  }
  
  .modal-close:hover {
    color: #fffafa;
    border-bottom: 1px solid #fffafa;
  }
  
  #intructions {
    background-color: rgba(60, 60, 60, 1);
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 30px;
    margin: auto;
    transform: translate(-50%, -50%);
  }
  /* modal content -- end*/


/*--------------------
|      Media query    |
 --------------------*/

@media screen and (max-width: 700px) {

    #game-area{
        max-width: 60%;
    }
    #grid-container{
        grid-template-columns: repeat(10, minmax(20px, 1fr));
    }
}

 @media screen and (max-width:1024px) {
    #game-area{
        max-width: 45%;
    }
}