/*--------------------
|       General       |
 --------------------*/
* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    display: flex;
    justify-content: center;
    gap: 30px;
}

h1{
    text-align: center;
}


/*--------------------
|      Game Board     |
 --------------------*/
#game-area {
    min-width: fit-content;
    max-width: 20%;
    margin: auto;
    justify-content: center;
    position: relative;
}

#stats {
    position: absolute;
    width: 60%;
    height: 16.5%;
    background-color: #fff;
}


#grid-container {
    margin: auto;
    display: grid;
    grid-template-columns: repeat(10, minmax(30px, 1fr));
    gap: 1px;
    justify-content: center;
}

.square {
    border: 1px solid #000;
    background-color: #444;
    aspect-ratio: 1/1;
}

.mini-grid {
    background-color: rgb(161, 158, 158);
}

.tetromino {
    background-color: red;
}

.taken {
    background-color: green !important;
}

/*--------------------
|      Media query    |
 --------------------*/

@media screen and (max-width: 700px) {

    #game-area{
        max-width: 60%;
    }
    #grid-container{
        grid-template-columns: repeat(10, minmax(20px, 1fr));
    }
}

 @media screen and (max-width:1024px) {
    #game-area{
        max-width: 45%;
    }
}